---
name: MDMClusterReportHTML
tags:
  - WFM Demo
  - NSP19.11

template: |
      <!DOCTYPE html>
      <html>
        <head>
          <style>
            table {font-family: NokiaPure, sans-serif;border-collapse: collapse;width: 100%;}
            td, th {border: 1px solid #dddddd;text-align: left;padding: 8px;}
            tr:nth-child(even) {background-color: #dddddd;}
            lime {margin-left: 19px;height: 12px;width: 12px;background-color: lime;border-radius: 50%;display: inline-block;}
            red {margin-left: 19px;height: 12px;width: 12px;background-color: red;border-radius: 50%;display: inline-block;}
          </style>
        </head>
        <body>
          <span style="font-size: 1.5em; font-weight: 600; margin:10px; font-family: NokiaPure, sans-serif;">MDM Cluster Report</span>
          <div style="padding-right: 10px;">
            <table>
              <tr>
                <th style="width: 50px;">Status</th>
                <th style="width: 200px;">Name</th>
                <th>Mode</th>
                <th>IP Address</th>
                <th>NEs</th>
              </tr>
              {% for item in mdmInstanceInfos %}<tr>
                <td>
                  {% if item.status == "active" %}<span style="margin-left: 19px;height: 12px;width: 12px;background-color: lime;border-radius: 50%;display: inline-block;"></span>
                  {% else %}<span style="margin-left: 19px;height: 12px;width: 12px;background-color: red;border-radius: 50%;display: inline-block;"></span>{% endif %}
                </td>
                <td>{{ item.name }}</td>
                {% if item.active %}<td>Active, Group ID: {{ item.groupId }}</td>
                {% else %}<td>Backup, Group IDs {{ item.groupIds }}</td>{% endif %}
                <td>{{ item.ipAddress }}</td>
                <td>{% if item.neIds %}
                  {% for ne in item.neIds %}<div>{{ ne }}</div>{% endfor %}
                  {% else %}<div>-</div>{% endif %}
                </td>
              </tr>{% endfor %}
            </table>
          </div>
        </body>
      </html>
...
