version: '2.0'

portMove7x50:
  description: 'capture RESTCONF config and copy to new port'
  type: direct


  tags:
    - Blueprint


  input:
    - token_auth : 'YWRtaW46Tm9raWFOc3AxIQ=='
    - rest_gateway_host : '135.121.148.173'
    - mdm_host : '135.121.148.61'
    - ne1 : '92.168.96.39'
    - port2 : '1/1/2'
    - port1 : '1/1/4'

  tasks:
    run_get_token:
      action: std.http
      input:
        url: 'https://<% $.rest_gateway_host %>/rest-gateway/rest/api/v1/auth/token'
        method: POST
        verify: False
        headers:
          Content-Type: 'application/json'
          Authorization: 'Basic <% $.token_auth %>'
        body:
          grant_type: 'client_credentials'
      publish:
        token: <% task().result.content.access_token %>
      on-success:
        - encodePortUrls

    revoke_token:
      action: std.http
      input:
        url: 'https://<% $.rest_gateway_host %>/rest-gateway/rest/api/v1/auth/revocation'
        method: POST
        verify: False
        headers:
          Content-Type: 'application/x-www-form-urlencoded'
          Authorization: 'Basic <% $.token_auth %>'
        body:  'token=<% $.token %>&token_type_hint=token'

    encodePortUrls:
      action: std.javascript
      input:
        context: <% $ %>
        script: |

          var port1Url = encodeURIComponent("<% $.port1 %>");
          var port2Url = encodeURIComponent("<% $.port2 %>");
          var encodedUrls = {}
          encodedUrls["port1"] = port1Url;
          encodedUrls["port2"] = port2Url;
          return encodedUrls;

      publish:
        encodedUrls: <% task().result %>
      on-success:
        - getPortConfig
      on-error:
        - revoke_token
        - actionFailed

    getPortConfig:
      action: std.http
      input:
        url: 'https://<% $.rest_gateway_host %>:8545/restconf/data/network-device-mgr:network-devices/network-device=<% $.ne1 %>/root/nokia-conf:/configure/port=<% $.encodedUrls["port1"] %>'
        method: GET
        verify: False
        headers:
          Content-Type: 'application/json'
          Authorization: 'Bearer <% $.token %>'
      publish:
        origPort: <% task(getPortConfig).result.content %>
        newPort: <% task(getPortConfig).result.content.port.set("port-id", $.port2) %>
      on-success:
        - stringifyPort
      on-error:
        - revoke_token
        - actionFailed

    stringifyPort:
      action: std.javascript
      input:
        script: |
          var obj = "<% $.newPort %>";
          myJSON = obj.replace(/u'/g,'"').replace(/\n/g,"").replace(/'/g, '"');
          return myJSON;

      publish:
        newBody: <% task().result %>
      on-success:
        - putPortConfig
      on-error:
        - revoke_token
        - actionFailed

    putPortConfig:
      action: std.http
      input:
        url: 'https://<% $.rest_gateway_host %>:8545/restconf/data/network-device-mgr:network-devices/network-device=<% $.ne1 %>/root/nokia-conf:/configure/port=<% $.encodedUrls["port1"] %>'
        method: PUT
        verify: False
        headers:
          Content-Type: 'application/json'
          Authorization: 'Bearer <% $.token %>'
        body: |
          <% $.newBody %>
      publish:
        system: <% task().result %>
      on-success:
        - getLagList
      on-error:
        - revoke_token
        - actionFailed

    getLagList:
      action: std.http
      input:
        url: 'https://<% $.rest_gateway_host %>:8545/restconf/data/network-device-mgr:network-devices/network-device=<% $.ne1 %>/root/nokia-conf:/configure/lag?depth=2'
        method: GET
        verify: False
        headers:
          Content-Type: 'application/json'
          Authorization: 'Bearer <% $.token %>'
      publish:
        lagData: <% task().result.content.lag %>
      on-success:
        - extractLagFromPort
      on-error:
        - revoke_token
        - actionFailed

    extractLagFromPort:
      action: std.js
      input:
        context: <% $ %>
        script: |
          var lags = $.lagData;
          var lagList = [];
          var needle = "<% $.port1 %>";
          needle = needle.replace(/\//g, '\/');
          var re = new RegExp(needle);

          lags.forEach(function(lag) {
            if (lag.hasOwnProperty("port")) {
              lag.port.forEach(function(port) {
                if (port["port-id"].match(re)) {
                  var myLag = {};
                  myLag['lagIndex'] = lag["lag-index"];
                  myLag['port'] = port;
                  lagList.push(myLag);
                }
              });
            }
          });
          return lagList;
      publish:
        lagList: <% task().result %>
      on-success:
        - getInterfaceList
      on-error:
        - revoke_token
        - actionFailed

    getInterfaceList:
      action: std.http
      input:
        url: 'https://<% $.rest_gateway_host %>:8545/restconf/data/network-device-mgr:network-devices/network-device=<% $.ne1 %>/root/nokia-conf:/configure/router=Base/interface?depth=2'
        method: GET
        verify: False
        headers:
          Content-Type: 'application/json'
          Authorization: 'Bearer <% $.token %>'
      publish:
        interfaceData: <% task().result.content.interface %>
      on-success:
        - extractInterfaceFromPort
      on-error:
        - revoke_token
        - actionFailed

    extractInterfaceFromPort:
      action: std.js
      input:
        context: <% $ %>
        script: |
          var interfaces = $.interfaceData;
          var ifList = [];
          var needle = "<% $.port1 %>";
          needle = needle.replace(/\//g, '\/');
          var re = new RegExp(needle);

          interfaces.forEach(function(inf) {
            if (inf.hasOwnProperty("port")) {
              if (inf["port"].match(re)) {
                var myInf = inf;
                ifList.push(myInf);
              }
            }
          });
          return ifList;
      publish:
        ifList: <% task().result %>
      on-success:
        - getServiceList
      on-error:
        - revoke_token
        - actionFailed

    getServiceList:
      action: std.http
      input:
        url: 'https://<% $.rest_gateway_host %>:8545/restconf/data/network-device-mgr:network-devices/network-device=<% $.ne1 %>/root/nokia-conf:/configure/service?depth=4'
        method: GET
        verify: False
        headers:
          Content-Type: 'application/json'
          Authorization: 'Bearer <% $.token %>'
      publish:
        serviceList: <% task().result.content %>
      on-success:
        - extractServicesFromPort
      on-error:
        - revoke_token
        - actionFailed

    extractServicesFromPort:
      action: std.js
      input:
        context: <% $ %>
        script: |
          var elines = $.serviceList.service[0].epipe;
          var elans = $.serviceList.service[0].vpls;
          var l3vpns = $.serviceList.service[0].vprn;
          var ieses = $.serviceList.service[0].ies;
          var elineList = [];
          var elanList = [];
          var l3VpnsList = [];
          var iesList = [];
          var serviceList = {};

          elines.forEach(function(eline) {
            if (eline.hasOwnProperty("sap")) {
              eline.sap.forEach(function(thisSap) {
                if (thisSap["sap-id"].startsWith("<% $.port1 %>:")) {
                  var mySap = {}
                  mySap['serviceName'] = eline["service-name"];
                  mySap['sap'] = thisSap;
                  elineList.push(mySap);
                }
              });
            }
          });
          serviceList["elines"] = elineList;

          elans.forEach(function(elan) {
            if (elan.hasOwnProperty("sap")) {
              elan.sap.forEach(function(thisSap) {
                if (thisSap["sap-id"].startsWith("<% $.port1 %>:")) {
                  var mySap = {}
                  mySap['serviceName'] = elan["service-name"];
                  mySap['sap'] = thisSap;
                  elanList.push(mySap);
                }
              });
            }
          });
          serviceList["elans"] = elanList;

          l3vpns.forEach(function(l3vpn) {
            if (l3vpn.hasOwnProperty("interface")) {
              l3vpn.interface.forEach(function(inf) {
                if (l3vpn.interface.hasOwnProperty("sap")) {
                  inf.sap.forEach(function(thisSap) {
                    if (thisSap["sap-id"].startsWith("<% $.port1 %>:")) {
                      var mySap = {}
                      mySap['serviceName'] = l3vpn["service-name"];
                      mySap['ifName'] = inf["interface-name"];
                      mySap['sap'] = thisSap;
                      l3VpnsList.push(mySap);
                    }
                  });
                }
              });
            }
          });
          serviceList["l3vpns"] = l3VpnsList;

          ieses.forEach(function(ies) {
            if (ies.hasOwnProperty("interface")) {
              ies.interface.forEach(function(inf) {
              if (ies.interface.hasOwnProperty("sap")) {
                inf.sap.forEach(function(thisSap) {
                  if (thisSap["sap-id"].startsWith("<% $.port1 %>:")) {
                    var mySap = {}
                    mySap['serviceName'] = ies["service-name"];
                    mySap['ifName'] = inf["interface-name"];
                    mySap['sap'] = thisSap;
                    iesList.push(mySap);
                  }
                });
                }
              });
            }
          });
          serviceList["ieses"] = iesList;

          return serviceList;
      publish:
        serviceList: <% task().result %>
      on-success:
        - buildDeleteList
      on-error:
        - revoke_token
        - actionFailed

    buildDeleteList:
      action: std.js
      input:
        context: <% $ %>
        script: |
          var lags = $.lagList;
          var elines = $.serviceList.elines;
          var elans = $.serviceList.elans;
          var l3vpns = $.serviceList.l3vpns;
          var ieses = $.serviceList.ieses;
          var deleteList = [];
          var editCount = 0;

          lags.forEach(function(lag) {
            var delObj = {};
            delObj["operation"] = "delete";
            delObj["target"] = "/lag=" + lag["lagIndex"] + "/port=" + encodeURIComponent(lag.port["port-id"]);
            delObj["edit-id"] = "edit-" + editCount++;
            deleteList.push(delObj);
          });

          elines.forEach(function(eline) {
            var delObj = {};
            delObj["operation"] = "delete";
            delObj["target"] = "/service/epipe=" + eline["serviceName"] + "/sap=" + encodeURIComponent(eline.sap["sap-id"]);
            delObj["edit-id"] = "edit-" + editCount++;
            deleteList.push(delObj);
          });

          elans.forEach(function(elan) {
            var delObj = {};
            delObj["operation"] = "delete";
            delObj["target"] = "/service/vpls=" + elan["serviceName"] + "/sap=" + encodeURIComponent(elan.sap["sap-id"]);
            delObj["edit-id"] = "edit-" + editCount++;
            deleteList.push(delObj);
          });

          l3vpns.forEach(function(l3vpn) {
            var delObj = {};
            delObj["operation"] = "delete";
            delObj["target"] = "/service/vprn=" + l3vpn["serviceName"] + "/interface=" + l3vpn["ifName"] + "/sap=" + encodeURIComponent(l3vpn.sap["sap-id"]);
            delObj["edit-id"] = "edit-" + editCount++;
            deleteList.push(delObj);
          });

          ieses.forEach(function(ies) {
            var delObj = {};
            delObj["operation"] = "delete";
            delObj["target"] = "/service/ies=" + ies["serviceName"] + "/interface=" + ies["ifName"] + "/sap=" + encodeURIComponent(ies.sap["sap-id"]);
            delObj["edit-id"] = "edit-" + editCount++;
            deleteList.push(delObj);
          });

          return deleteList;
      publish:
        deleteList: <% task().result %>
      on-success:
        - buildMergeList
      on-error:
        - revoke_token
        - actionFailed

    buildMergeList:
      action: std.js
      input:
        context: <% $ %>
        script: |
          var lags = $.lagList;
          var interfaces = $.ifList;
          var elines = $.serviceList.elines;
          var elans = $.serviceList.elans;
          var l3vpns = $.serviceList.l3vpns;
          var ieses = $.serviceList.ieses;
          var mergeList = [];
          var editCount = 0;

          lags.forEach(function(lag) {
            var mergeObj = {};
            mergeObj["operation"] = "merge";
            lag.port["port-id"] = "<% $.port2 %>";
            mergeObj["target"] = "/lag=" + lag["lagIndex"] + "/port=" + encodeURIComponent("<% $.port2 %>");
            mergeObj["edit-id"] = "merge-" + editCount++;
            mergeObj["value"] = lag.port;
            mergeList.push(mergeObj);
          });

          interfaces.forEach(function(inf) {
            var mergeObj = {};
            mergeObj["operation"] = "merge";
            inf.port = "<% $.port2 %>";
            mergeObj["target"] = "/router=Base/interface=" + inf["interface-name"];
            mergeObj["edit-id"] = "merge-" + editCount++;
            mergeObj["value"] = inf;
            mergeList.push(mergeObj);
          });

          elines.forEach(function(eline) {
            var mergeObj = {};
            mergeObj["operation"] = "merge";
            var encapVals = eline.sap["sap-id"].split(":")[1];
            var newSapId = "<% $.port2 %>" + ":" + encapVals;
            eline.sap["sap-id"] = newSapId;
            mergeObj["target"] = "/service/epipe=" + eline["serviceName"] + "/sap=" + encodeURIComponent(newSapId);
            mergeObj["edit-id"] = "merge-" + editCount++;
            mergeObj["value"] = eline.sap;
            mergeList.push(mergeObj);
          });

          elans.forEach(function(elan) {
            var mergeObj = {};
            mergeObj["operation"] = "merge";
            var encapVals = elan.sap["sap-id"].split(":")[1];
            var newSapId = "<% $.port2 %>" + ":" + encapVals;
            elan.sap["sap-id"] = newSapId;
            mergeObj["target"] = "/service/vpls=" + elan["serviceName"] + "/sap=" + encodeURIComponent(newSapId);
            mergeObj["edit-id"] = "merge-" + editCount++;
            mergeObj["value"] = elan.sap;
            mergeList.push(mergeObj);
          });

          l3vpns.forEach(function(l3vpn) {
            var mergeObj = {};
            mergeObj["operation"] = "merge";
            var encapVals = l3vpn.sap["sap-id"].split(":")[1];
            var newSapId = "<% $.port2 %>" + ":" + encapVals;
            l3vpn.sap["sap-id"] = newSapId;
            mergeObj["target"] = "/service/vprn=" + l3vpn["serviceName"] + "/interface=" + l3vpn["ifName"] + "/sap=" + encodeURIComponent(newSapId);
            mergeObj["edit-id"] = "merge-" + editCount++;
            mergeObj["value"] = l3vpn.sap;
            mergeList.push(mergeObj);
          });

          ieses.forEach(function(ies) {
            var mergeObj = {};
            mergeObj["operation"] = "merge";
            var encapVals = ies.sap["sap-id"].split(":")[1];
            var newSapId = "<% $.port2 %>" + ":" + encapVals;
            ies.sap["sap-id"] = newSapId;
            mergeObj["target"] = "/service/ies=" + ies["serviceName"] + "/interface=" + ies["ifName"] + "/sap=" + encodeURIComponent(newSapId);
            mergeObj["edit-id"] = "merge-" + editCount++;
            mergeObj["value"] = ies.sap;
            mergeList.push(mergeObj);
          });

          return mergeList;
      publish:
        mergeList: <% task().result %>
      on-success:
        - buildPatch: <% $.mergeList.len() != 0 %>
        - actionPassed: <% $.mergeList.len() = 0 %>
      on-error:
        - revoke_token
        - actionFailed

    buildPatch:
      action: std.js
      input:
        context: <% $ %>
        script: |
          var deleteList = $.deleteList;
          var mergeList = $.mergeList;
          var patchList = deleteList.concat(mergeList);

          return patchList;
      publish:
        patchList: <% task().result %>
      on-success:
        - stringifyPatch
      on-error:
        - revoke_token
        - actionFailed

    stringifyPatch:
      action: std.javascript
      input:
        script: |

          function stringify() {
          var obj = "<% $.patchList %>";
          myJSON = obj.replace(/u'/g,'"').replace(/\n/g,"").replace(/'/g, '"');
          return myJSON;
          }
          return stringify();

      publish:
        patchBody: <% task().result %>
      on-success:
        - sendPatchToMdm
      on-error:
        - revoke_token
        - actionFailed

    sendPatchToMdm:
      action: std.http
      input:
        url: 'https://<% $.rest_gateway_host %>:8545/restconf/data/network-device-mgr:network-devices/network-device=<% $.ne1 %>/root/nokia-conf:/configure'
        method: PATCH
        verify: False
        headers:
          Accept: 'application/yang-data+json'
          Content-Type: 'application/yang-patch+json'
          Authorization: 'Bearer <% $.token %>'
        body: |
          {
            "ietf-yang-patch:yang-patch": {
            "patch-id": "sanity2",
            "edit":
              <% $.patchBody %>
           }
          }

      publish:
        mergeResponse: <% task().result %>
      on-success:
        - revoke_token
      on-error:
        - revoke_token
        - actionFailed

    actionPassed:
      publish:
        status: "complete"


    actionFailed:
      action: std.fail
